/* ==== BASE STYLES ====*/
@font-face {
  font-family: "Swis721";
  src: url('fonts/swis721'); }

/* Color Scheme */
/* Typography */
a {
  color: #aaa;
  text-decoration: none; }

/* General */
body {
  color: #7d7669; }

button {
  padding: 0.5em 1em;
  border: 0 rgba(0, 0, 0, 0);
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

/* Display None for Mobile Divs =======*/
#mobile-header {
  display: none; }

/* MOBILE=========================== */
@media screen and (max-width: 599px) {
  /* Some stuff */
  /* Display None */
  /* Enlcosures */
  /* Navigation */
  /* Typography */
  /* Specifically targets h2s only with .entry-title */
  /* Overlay Window */
  /* BIRD CLASSES */
  img {
    max-width: 100%;
    max-height: 240px; }
  #secondary, #mobile_nav, #contact, #contact-area, #footer, .socialmedia, .socialicons {
    display: none; }
  #press .desktop {
    display: none; }
  .wrapper {
    position: relative;
    width: 90%;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    z-index: 1; }
  #mobile_nav {
    display: none;
    float: left;
    width: 30%;
    background: #7d7669; }
    #mobile_nav a {
      color: #fff;
      font-size: 11px;
      font-family: Arial;
      line-height: 18px; }
  #mobile_nav a.selected {
    color: yellow; }
  #main_body {
    float: left;
    width: 100%; }
  #mobile-header {
    display: block;
    height: 70px;
    background: #fff;
    opacity: 1;
    width: 100%; }
    #mobile-header a, #mobile-header span {
      float: left;
      width: 50%; }
    #mobile-header span {
      text-align: right; }
  img.preenlogo {
    width: 100px;
    height: 60px; }
  button.shelf {
    height: 40px;
    font-size: 22px;
    padding: 0;
    line-height: 0px;
    width: 40px;
    background-color: #e5e3e0; }
  h2 {
    color: #000;
    margin: 5px 0px;
    font-size: 14px; }
  h2.entry-title {
    border-bottom: 1px dashed #aaa;
    padding-bottom: 5px;
    font-style: italic; }
  .entry-meta {
    font-size: 9px;
    font-style: italic;
    margin-bottom: 10px; }
  .entry-utility {
    margin-bottom: 20px; }
  .uploadArea {
    font-size: 11px;
    line-height: 16px; }
  a#preenlogo img {
    margin: 0 auto;
    width: 320px;
    height: 90px; }
  #primary {
    background: url('images/feather-bg.png') no-repeat;
    opacity: 0.8;
    background-position: 50% 40%;
    width: 100%;
    height: 570px;
    padding-top: 50px; }
    #primary a {
      color: #3f3f3f !important;
      text-decoration: none; }
  #links-1 {
    float: left;
    text-align: right;
    font-size: 11px;
    color: #e5e3e0;
    width: 50%; }
    #links-1 ul li {
      line-height: 15px;
      font-size: 8px;
      padding: 1px 3px 4.95px 0px; }
  .links-1-main {
    width: 0px;
    padding-left: 0px; }
  #myForm input, #myForm textarea, #myForm button {
    width: 98%; }
  #myForm input {
    padding-left: 0; }
  #links-2 {
    float: left;
    text-align: left;
    margin-top: 2px;
    font-size: 9px;
    color: #aaa; }
    #links-2 ul li {
      font-size: 7px; }
    #links-2 ul {
      padding-left: 1px; }
  #primary-inside {
    line-height: 16px; }
  #item-window {
    display: none;
    position: absolute;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    z-index: 2;
    text-align: center;
    color: #000;
    line-height: 16px;
    font-size: 11px; }
  .close {
    position: absolute;
    z-index: 1002;
    right: 0px;
    line-height: 0px;
    padding: 0;
    height: 25px;
    width: 25px;
    background: #fff;
    border: 1px solid #000;
    color: #000; }
  #teamtable {
    table-layout: fixed;
    width: 100%; }
    #teamtable tr td {
      vertical-align: top;
      padding: 2%; }
  #teamtable tr td:first-child {
    width: 30%; }
  #teamtable tr td:nth-child(2) {
    width: 70%; }
  #photo.photos {
    display: none; }
  .white_overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: #fff;
    z-index: 1001; }
  #bird-nav {
    width: 100%;
    margin: 0 auto; }
    #bird-nav a {
      display: inline-block;
      text-align: center; }
  .bird-selected {
    background-positon: -36px 0 !important; }
  .bird {
    position: absolute; }
  .bird-8 {
    background: url('images/bird-8.png');
    height: 21px;
    width: 36px; }
  .bird-8:hover {
    background-position: -36px 0; }
  .bird-7 {
    background: url('images/bird-7.png');
    height: 25px;
    width: 36px; }
  .bird-7:hover {
    background-position: -36px 0; }
  .bird-6 {
    background: url('images/bird-6.png');
    height: 20px;
    width: 36px; }
  .bird-6:hover {
    background-position: -36px 0; }
  .bird-5 {
    background: url('images/bird-5.png');
    height: 23px;
    width: 36px; }
  .bird-5:hover {
    background-position: -36px 0; }
  .bird-4 {
    background: url('images/bird-4.png');
    height: 24px;
    width: 36px; }
  .bird-4:hover {
    background-position: -36px 0; }
  .bird-3 {
    background: url('images/bird-3.png');
    height: 23px;
    width: 36px; }
  .bird-3:hover {
    background-position: -36px 0; }
  .bird-2 {
    background: url('images/bird-2.png');
    height: 23px;
    width: 36px; }
  .bird-2:hover {
    background-position: -36px 0; }
  .bird-1 {
    background: url('images/bird-1.png');
    height: 18px;
    width: 36px; }
  .bird-1:hover {
    background-position: -36px 0; }
  #text {
    clear: both; } }
